/* Le code CSS spécifique à la page de documentation */

h1{
    text-align: center;
}
h2{
     text-align: center;
}
h3{
     text-align: center;
}
h4{
     text-align: center;
}
body{
    background-image: url(image\ copy\ 3.png);
   
    
    
}