/* Le code CSS spécifique à la page de documentation */

h1{
    text-align: center;
color: #2e3533;
}
h2{
     text-align: center;
     color: #2e3533;
}
h3{
     text-align: center;
      color: #2e3533;
}
h4{
     text-align: center;
     color: #2e3533;
}
body{
    background-image: url(image\ copy\ 3.png);
     
}