/* Le code CSS spécifique à la page de documentation */

/* :root {
    --main-color: #00CCAA;
    --bg-color: #FAFFFE;
    --texte-color: #002D26;
    --head-bg-color: #e0f8f4;
} */

h1 {
     text-align: center;
     color: #2e3533;
     font-size: 50px;
     font-family: "Krona One";
     color: #002D26;
     color: #00CCAA;
}

h2 {
     text-align: center;
     color: #2e3533;
     font-family: "Krona One";
     color: #002D26;
     color: #00CCAA;
}

h3 {
     text-align: center;
     color: #2e3533;
     font-size: 27px;
     font-family: "Krona One";
     color: #002D26;
     color: #00CCAA;

}

h4 {
     text-align: center;
     color: #2e3533;
     font-size: 25px;
    color: #00CCAA;
}

body {
     background-image: url();

}

header {
     background-color: #e0f8f4;
     padding: 100px;

     p {
          padding: 30px;
          display: flex;
          align-items: center;
          font-size: 20px;
     }

     div {
          text-align-last: center;

     }
}

nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 3px solid #00CCAA;
     border-radius: 500px;
     width: 700px;
     padding-right: 40px;
     padding-left: 20px;
     backdrop-filter: blur(10px);
     position: fixed;
     top: 5%;
     left: 25%;

     ul {
          display: flex;
          gap: 50px;
     }

     li {
          list-style: none;
          font-family: "Krona One";
     }

     a {
          color: var(--texte-color);
          text-decoration: none;
     }

     .btncontact {
          background-color: var(--main-color);
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 20px;
          padding-left: 20px;
          border-radius: 10px;
          font-family: "Poppins";
          color: var(--bg-color);
     }
}



.objectif {
     p {
          place-self: anchor-center;
          font-size: 20px;
     }
}
.jeune{
   p{
     text-align: center;
     font-size: 20px;
     padding-top: 30px;
   }
     
}
.design{
     p{
          font-size: 20px;
          text-align: center;
     }
     ul{
       font-size: 20px;   
     }
}
.vert{
     font-size: 20px;
     padding: 20px;
     p{
          
     }
}
.cardstechno{
      display: flex;
      text-align: center;
      gap: 35px;
       div{
            width: 554px;
            height: 250px;
            border: solid 1px var(--main-color);
            border-radius: 20px;
            box-shadow:#0000000a 0px 0px 5px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            text-align: center;
        }
        span{
          color: #00CCAA;
          font-size: 20px;
        }
        }
.fig{
     p{
          text-align: center;
          font-size: 20px;
     }
}
